body {
  background: linear-gradient(45deg, yellow, pink, purple);
  background-attachment: fixed;
}
.container {
  position: absolute;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.service-name {
  font-weight: bold;
  font-size: 2.4rem;
  @media (min-width: 576px) {
    font-size: 2.7rem;
  }
  @media (min-width: 768px) {
    font-size: 4rem;
  }

  background: linear-gradient(to right, rgb(255 94 226), rgb(255 189 249), rgb(171 255 52));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-bottom: 15px;
}

.description-list {
  color: #a1a1a1;
  font-size: 13px;
  margin-bottom: 15px;
}
.description-list__item--important {
  color: rgb(0, 0, 0);
}
.chat-container {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 30px;
  width: 100%;
  margin-bottom: 20px;
}

.chat-container__form {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
  height: 40px;
}

.chat-container__form-input {
  flex: 1;
  border: 1px solid rgba(255, 255, 255, 0.254);
  border-radius: 10px 0 0 10px;
  padding: 0 10px;
}

.chat-container__form-submit {
  width: 70px;
  border: 1px solid rgba(255, 255, 255, 0.254);
  border-radius: 0 10px 10px 0;
  background: linear-gradient(45deg, rgb(253, 114, 227), rgb(251, 255, 189));
  cursor: pointer;
}

.chat-container__history {
  max-height: 300;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    border-radius: 50px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 50px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
  }

  scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
}

.message {
  margin-bottom: 20px;
  color: rgb(24, 24, 24);
}

.message__text {
  line-height: 1.4rem;
}
.message-gal {
  background: linear-gradient(45deg, rgb(245, 1, 200), rgb(116, 47, 255));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
